.linkA{
    text-decoration: none;
    color: lightblue;
}

.linkB{
    text-decoration: none;
    color: red  ;
}

.linkC:hover{
    text-decoration: none;
    color: yellow;
}

p{
    background-color: lightblue;
    padding: 0.5rem 1rem;
    margin: 0rem;
    display: flex;                                                                                              
}